page-quran {
    .item-md {
        padding: 0;
    }
    .surah {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .arabicVerseText {
        font-weight: bold;
        padding-left: 16px;
    }
    h1 {}
    .englishName {
        color: #ee6e73
    }
}