<!--
  Generated template for the SubsettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content *ngIf="title == gps">
    <ion-list no-lines>
        <ion-item (click)="addCity()">
            <ion-icon name="add" item-start></ion-icon>
            Add City

        </ion-item>
        <ion-item>
            <ion-icon name="locate" item-start></ion-icon>
            Current Location

        </ion-item>
    </ion-list>
</ion-content>
<ion-content *ngIf="title == calc">
    <form [formGroup]="CalcmethodForm">
        <ion-list radio-group formControlName="CalcmethodFormControl">

            <ion-item *ngFor="let method of Methods; let i =index">
                <ion-label>{{method.method}}
                    <br>
                    <p class="calc">fajr:{{method.fajr}}, isha:{{method.isha}}</p>
                </ion-label>
                <ion-radio (ionSelect)="doSubmit($event)" [value]=" method.method "></ion-radio>
            </ion-item>

        </ion-list>
    </form>

</ion-content>
<ion-content *ngIf="title== juris " padding>

</ion-content>