<!--
  Generated template for the SurahPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>
            {{englishName}}
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <!-- <ion-card class="img" class="do">
        <img id="textScreenshot" src="">
    </ion-card>
    <ion-card id="cap" class="module cap">
        <h2 class="ar">{{ar}}</h2>
        <p class="">{{en}} <br><br> {{info}}
        </p>

    </ion-card> -->
    <ion-list class="surah">


        <ion-item id="share{{i}}" (click)="clicked" *ngFor="let ayah of ayahs; let i =index" tappable>
            <div *ngIf='show' class="bookmark">
                <ion-icon (click)="bookmark(englishName,ayah.text, text[i].text, text[i].numberInSurah)" name="bookmark" item-end></ion-icon>
                <!-- <ion-icon (click)="share(englishName,ayah.text, text[i].text, text[i].numberInSurah,i)" name="share" item-end></ion-icon>
             -->
            </div>
            <h1 class="arabicVerseText"> {{ ayah.text }}</h1>
            <p id='p' class="enText"> {{text[i].numberInSurah }}. {{ text[i].text }}</p>

        </ion-item>
    </ion-list>

</ion-content>