page-settings {
    .item-md {
        padding: 0;
    }
    .lists {
        border-top: 1px solid #ccc;
    }
    .gps,
    {
        border-bottom: 1px solid #ccc;
    }
    h2,
    a,
    h5,
    p {
        padding-left: 15px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
}