page-dua {
    ion-card-header {
        display: block;
        overflow: hidden;
        text-overflow: initial;
        white-space: normal;
        text-align: center
    }
    h1 {
        text-align: center;
    }
    .arabic {
        font-size: 180%
    }
}