page-popular {
    .coll {
        background: #ee6e73;
        border-radius: 5px;
        color: #fff;
        padding: 12px;
        margin-right: 3px;
        text-align: center;
        width: 95% !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}